{% extends "base.html" %}

{% block content %}
        <div id="deviceTable">
            <div class="table-container">
                <h2 class="mt-4">Logged Devices</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">IP Address</th>
                            <th scope="col">MAC Address</th>
                            <th scope="col">Device Name</th>
                            <th scope="col">Timestamp</th>
                            <!--<th scope="col">Disconnect</th>-->
                        </tr>
                    </thead>
                    <tbody id="deviceData">
                        <!-- Device data will be rendered here -->
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
